.card{
    width: 312px;
    height: 355px;
    border: 2px solid green;
}

.credit{
    color: #2F80ED;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 166.667% */
}

.break-line{
    width: 70%; 
    margin: 0 auto; 
    border: none; 
    border-top: 1px solid gray; 
}

.course-name{
    color: #1C1B1B;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}